<div class="container">
  <h1>Biblioteca</h1>
  <div class="generos">
    <h2>Géneros</h2>
    <button (click)="agregarLibro()">Agregar Libro</button>
  </div>

    
   

    <ul class="libros-lista">
      <li *ngFor="let libro of data" class="libro-item">
        <strong>Título:</strong> {{ libro.nombre }} <br>
        <strong>Autor:</strong> {{ libro.autor }} <br>
        <strong>Lenguaje:</strong> {{ libro.lenguaje }} <br>
        <strong>Genero:</strong> {{ libro.genero }} <br>
        <button (click)="eliminarLibro(libro)">Eliminar</button><button (click)="actualizarLibro(libro)">Actualizar</button>
      </li>
    </ul>
  </div>